ENVIRONMENT='PRODUCTION'

# Key to be sent as x-api-key header to authenticate requests
# WARNING: Auth disabled if not provided
PERSONAFLOW_API_KEY=personaflow_api_key

# If using openai
OPENAI_API_KEY=<your_openai_api_key>
# Required if you intend to use reranking functionality
COHERE_API_KEY=<your_cohere_api_key>

# Azure OpenAI deployment details (Optional)
AZURE_OPENAI_DEPLOYMENT_NAME=<your_azure_openai_deployment_name>
AZURE_OPENAI_API_BASE=<your_azure_openai_deployment_base_url>
AZURE_OPENAI_API_KEY=<your_azure_openai_deployment_key
AZURE_OPENAI_API_VERSION=<your_azure_openai_deployment_version>

# For Langsmith tracing (Optional)
ENABLE_LANGSMITH_TRACING="false"
LANGCHAIN_API_KEY=<your_langchain_api_key>
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_TRACING_V2=true
LANGSMITH_PROJECT_NAME="<project_name_for_langsmith>"

# Postgres Database environment variables (Required)
INTERNAL_DATABASE_USER="internal"
INTERNAL_DATABASE_PASSWORD="internal"
INTERNAL_DATABASE_HOST="postgres"
INTERNAL_DATABASE_PORT=5432
INTERNAL_DATABASE_DATABASE="internal"
INTERNAL_DATABASE_SCHEMA="personaflow"

# Vector DB environment variables (Required)
VECTOR_DB_HOST="qdrant"
VECTOR_DB_PORT=6333
VECTOR_DB_NAME="qdrant" # only qdrant currently supported
VECTOR_DB_API_KEY="123456789" # change this to something secure
# default collection name - defaults to "documents", uncomment to change
VECTOR_DB_COLLECTION_NAME="documents"
# This is the default encoder - options are "openai", "azure_openai", "cohere", "huggingface", or "ollama"
VECTOR_DB_ENCODER_NAME="openai"
# vector embedding dimension size - defaults to 1536, uncomment to change
VECTOR_DB_ENCODER_DIMENSIONS=1536
VECTOR_DB_ENCODER_MODEL="text-embedding-3-small"
VECTOR_DB_DEFAULT_NAMESPACE="default" # If there is no namespace specified for filtering in the ingest/query endpoints, this is used

# Number of iterations assistant is allowed to run to
# accomplish task or improve response (Required)
LANGGRAPH_RECURSION_LIMIT=5

# Max size of file uploads (Optional)
# Default is 25MB
# MAX_FILE_UPLOAD_SIZE=25000000

# Uncomment if using Azure App Insights monitoring (Optional)
# APPLICATIONINSIGHTS_CONNECTION_STRING=""

# Tavily external search service api key - used for assistant external search tool (Optional)
# TAVILY_API_KEY=""

# Used for processing of unstructured documents to be ingested into vector db
# "semantic" splitting method will not work without these (required)
UNSTRUCTURED_API_KEY=""
UNSTRUCTURED_BASE_URL="http://unstructured-api:8000"
# Default unstructured configuration (Optional)
# DEFAULT_PARTITION_STRATEGY="auto"
# DEFAULT_HI_RES_MODEL_NAME="detectron2_onnx"
# PROCESS_UNSTRUCTURED_TABLES="false"

# Creates a separate collection that contains document summaries.
# If a query involves summarization, the summary collection will be used instead. (Optional)
# Note: this is overriden by the `summarize` parameter in the ingest request.
# Default is "true" (Optional)
# CREATE_SUMMARY_COLLECTION="true"

# Default splitter configuration (Optional)
# DEFAULT_CHUNKING_STRATEGY="semantic"
# DEFAULT_SEMANTIC_CHUNK_MIN_TOKENS=30
# DEFAULT_SEMANTIC_CHUNK_MAX_TOKENS=500
# SEMANTIC_ROLLING_WINDOW_SIZE=1 # Only for `semantic` method, cumulative window size for comparing similarity between elements
# PREFIX_TITLES="true"
# PREFIX_SUMMARY="true"

# If true, semantic lookup results will be automatically reranked by cohere for every request,
# unless overridden by the `rerank` parameter in the ingest request body.
# Requires COHERE_API_KEY to be set. Default is false (Optional)
# ENABLE_RERANK_BY_DEFAULT="false"

# Default number of results to return from a vector db lookup (Optional)
# Default is 5
# MAX_QUERY_TOP_K=5
